{% extends "projects/base.html" %}
{% load static %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Worker</th>
            <th scope="col">Worked date</th>
            <th scope="col">Worked time</th>
            <th scope="col">Description</th>
            {% if perms.projects.change_datepoint %}
            <th scope="col">Approved</th>
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    {% for datepoint in datepoints %}
    <tbody>
        <tr>
            <td>{{ datepoint.worker }}</td>
            <td>{{ datepoint.worked_date }}</td>
            <td>{{ datepoint.worked_time }}</td>
            <td>
                {% if datepoint.description %}
                {{ datepoint.description }}
                {% else %}
                ---
                {% endif %}
            </td>
            {% if perms.projects.change_datepoint %}
            {% if datepoint.approved is False %}

            <td>
                <img src="{% static 'admin/img/icon-no.svg' %}">
            </td>
            <td>
                <a href="{% url 'datepoint-approve' datepoint_pk=datepoint.id %}"
                    class="btn btn-outline-success">Approve</a>
            </td>

            {% else %}
            <td>
                <img src="{% static 'admin/img/icon-yes.svg' %}">
            </td>
            <td>
                <a href="{% url 'datepoint-approve' datepoint_pk=datepoint.id %}"
                    class="btn btn-outline-danger">Disapprove</a>

            </td>
            {% endif %}
            {% endif %}
        </tr>
    </tbody>
    {% endfor %}
</table>


{% endblock content %}