{% extends "projects/base.html" %}
{% block content %}
<p>Worker: {{ object.worker }} </p>
<p>Task: {{ object.task.title }} </p>
<p>Worked Date: {{ object.worked_date }} </p>
<p>Worked Time: {{ object.worked_time }} hours</p>
<p>Approved: {{ object.approved }}</p>




{% if user.is_authenticated %}
{% if perms.projects.change_datepoint %}
{% if object.approved is False %}

<a href="{% url 'datepoint-approve' pk=view.kwargs.pk %}" class="btn btn-warning">Approve</a>

{% else %}
<a href="{% url 'datepoint-approve' pk=view.kwargs.pk %}" class="btn btn-danger">Disapprove</a>
{% endif %}
{% endif %}
{% endif %}


{% endblock content %}