{% extends "projects/base.html" %}
{% load crispy_forms_tags %}
{% block content2 %}

{% if view.kwargs.date %}
<h3>Create datepoint for {{ view.kwargs.date }}</h3>
{% endif %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col-2">
                {{ form.task|as_crispy_field }}
            </div>

            <div class="col-2">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-2">
                {{ form.worked_time|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="col">
                {{ form.url|as_crispy_field }}
            </div>
        </div>



        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Create datepoint</button>
        </div>
    </form>

</div>

<script>
    $('label[for="id_worked_time"]').text('Time*')
</script>
{% endblock content2 %}