{% extends "projects/base.html" %}
{% load static %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Worker</th>
            <th scope="col">Worked date</th>
            <th scope="col">Worked time</th>
            <th scope="col">Description</th>
            <th scope="col">Approved By Manager</th>
            <th scope="col">Approved By Client</th>
            {% if perms.projects.change_datepoint %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
    </thead>
    {% for datepoint in datepoints %}
    <tbody>
        <tr>
            <td>{{ datepoint.worker }}</td>
            <td>{{ datepoint.worked_date }}</td>
            <td>{{ datepoint.worked_time }}</td>
            <td>
                {% if datepoint.description %}
                {{ datepoint.description }}
                {% else %}
                ---
                {% endif %}
            </td>
            {% if datepoint.approved_manager is False %}

            <td>
                <img src="{% static 'admin/img/icon-no.svg' %}" id="approved_manager{{ datepoint.id }}">
            </td>
            {% else %}
            <td>
                <img src="{% static 'admin/img/icon-yes.svg' %}" id="approved_manager{{ datepoint.id }}">
            </td>
            {% endif %}
            {% if datepoint.approved_client is False %}

            <td>
                <img src="{% static 'admin/img/icon-no.svg' %}" id="approved_client{{ datepoint.id }}">
            </td>
            {% else %}
            <td>
                <img src="{% static 'admin/img/icon-yes.svg' %}" id="approved_client{{ datepoint.id }}">
            </td>
            {% endif %}

            {% if perms.projects.change_datepoint %}
            <td>
                {% ifequal user.groups.all.0|stringformat:"s" 'Manager' %}
                {% if datepoint.approved_manager is False %}
                <button class="btn btn-outline-success" id="btn{{ datepoint.id }}">Approve</button>
                {% else %}
                <button class="btn btn-outline-danger" id="btn{{ datepoint.id }}">Disapprove</button>
                {% endif %}
                {% endifequal %}


                {% ifequal user.groups.all.0|stringformat:"s" 'Client' %}
                {% if datepoint.approved_client is False %}
                <button class="btn btn-outline-success" id="btn{{ datepoint.id }}">Approve</button>
                {% else %}
                <button class="btn btn-outline-danger" id="btn{{ datepoint.id }}">Disapprove</button>
                {% endif %}
                {% endifequal %}
            </td>
            {% endif %}

        </tr>
    </tbody>
    {% endfor %}
</table>


<script>
    const datepoints_pks = JSON.parse("{{ datepoints_pks | escapejs }}");
    const user_group = "{{ user.groups.all.0 }}";

    datepoints_pks.forEach(element => {

        document.querySelector("#btn" + element).addEventListener('click', function () {
            $.get("/datepoint/" + element + "/approve/", function (data) {
                if (data == "False") {
                    document.querySelector("#btn" + element).classList.replace("btn-outline-danger", "btn-outline-success");
                    document.querySelector("#btn" + element).textContent = "Approve";
                    if (user_group == "Manager") {
                        document.querySelector("#approved_manager" + element).src = "http://127.0.0.1:8000/static/admin/img/icon-no.svg";
                    } else if (user_group == "Client") {
                        document.querySelector("#approved_client" + element).src = "http://127.0.0.1:8000/static/admin/img/icon-no.svg";
                    };

                } else {
                    document.querySelector("#btn" + element).classList.replace("btn-outline-success", "btn-outline-danger");
                    document.querySelector("#btn" + element).textContent = "Disapprove";
                    if (user_group == "Manager") {
                        document.querySelector("#approved_manager" + element).src = "http://127.0.0.1:8000/static/admin/img/icon-yes.svg";
                    } else if (user_group == "Client") {
                        document.querySelector("#approved_client" + element).src = "http://127.0.0.1:8000/static/admin/img/icon-yes.svg";
                    };
                }
            });
        });
    });

</script>
{% endblock content %}