{% extends "projects/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}


<link href="{% static 'projects/fullcalendar/core/main.css' %}" rel="stylesheet" />
<link href="{% static 'projects/fullcalendar/daygrid/main.css' %}" rel='stylesheet' />

<script src="{% static 'projects/fullcalendar/core/main.js' %}"></script>
<script src="{% static 'projects/fullcalendar/daygrid/main.js' %}"></script>
<script src="{% static 'projects/fullcalendar/interaction/main.js' %}"></script>
<script src="{% static 'projects/fullcalendar/bootstrap/main.js' %}"></script>
<script src="{% static 'projects/fullcalendar/timegrid/main.js' %}"></script>


<script>
    var temp = JSON.parse("{{ datepoints|escapejs }}");

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'bootstrap', 'timeGrid'],
            dateClick: function (info) {
                var url = "{% url 'project-list' %}";
                var project_pk = "{{ view.kwargs.project_pk }}"
                window.location.href = url + project_pk + '/' + info.dateStr + '/';
            },
            events: temp,
        });

        calendar.render();
    });

</script>
{% endblock %}



{% block content %}
<p>Title: {{ object.title }} </p>

<p>Description: {{ object.description }}</p>

<p>Manager: {{ object.manager }}</p>

<p>Workers:
    {% for worker in object.worker.all %}
    <ul>
        <li>{{ worker }}</li>
    </ul>
    {%endfor %}
</p>

<p>Tasks:

    {% for task in object.task_set.all %}
    <a href="{% url 'task-detail' task.id %}">{{ task.title }}</a>
    {% endfor %}
</p>

{% if perms.projects.add_task %}
<p><a href="{% url 'task-create' object.id %}">Add new Task to the project</a></p>
{% endif %}

{% if perms.projects.change_project %}
<p><a href="{% url 'project-update' object.id %}">Update Current Project</a></p>
{% endif %}

{% if perms.projects.add_datepoint %}
<p><a href="{% url 'datepoint-create' object.id %}">Add Datepoint</a></p>
{% endif %}


<div id='calendar'></div>

{% if perms.projects.add_datepoint %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div>
{% endif %}



{% endblock content %}