{% extends "projects/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content2 %}


<div class="row">

    <div class="col-4">
        <div class="card bg-light mb-3">
            <!-- <div class="card-header">{{ object.title }}</div> -->
            <div class="card-body">
                {% if object.ongoing %}
                <h5 class="card-title text-success">{{ object.project.title }} | {{ object.title }}</h5>
                {% else %}
                <h5 class="card-title text-danger">{{ object.project.title }} | {{ object.title }}</h5>
                {% endif %}
                <p class="card-text">Description: {{ object.project.description }}</p>

                {% if object.project.client_detail %}
                <p class="card-text"> Client name: {{ object.project.client_detail.name }}
                </p>
                {% endif %}



                {% ifnotequal user.groups.all.0|stringformat:"s" 'Worker' %}
                <strong>Table view for:</strong>
                <p class="card-text">
                    {% for task in object.task_set.all %}
                    <a
                        href="{% url 'task-projectphase-table' view.kwargs.projectphase_pk task.id %}">{{ task.title }}</a>
                    {% endfor %}
                </p>
                {% endifnotequal %}
                <p class="card-text">Manager: {{ object.project.manager }}</p>
                {% ifnotequal user.groups.all.0|stringformat:"s" 'Worker' %}
                <p class="card-text"><strong>Table view for:</strong>
                    {% for worker in object.project.worker.all %}
                    <a
                        href="{% url 'worker-projectphase-table' view.kwargs.projectphase_pk worker.id %}">{{ worker }}</a>
                    {% endfor %}
                </p>
                <p class="card-text"><strong>Callendar view:</strong>
                    {% for worker in object.project.worker.all %}
                    <a
                        href="{% url 'worker-projectphase-calendar' view.kwargs.projectphase_pk worker.id %}">{{ worker }}</a>
                    {% endfor %}
                </p>
                {% ifequal user.groups.all.0|stringformat:"s" 'Manager' %}
                <p class="card-text"><strong>Summary for:</strong>
                    {% for worker in object.project.worker.all %}
                    <a
                        href="{% url 'projectphase-worker-summary' view.kwargs.projectphase_pk worker.id %}">{{ worker }}</a>
                    {% endfor %}
                </p>
                {% endifequal %}
                {% endifnotequal %}


                {% ifnotequal user.groups.all.0|stringformat:"s" 'Worker' %}

                {% ifnotequal object.dates '[]' %}
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-5">
                                {{ form.dates|as_crispy_field }}
                            </div>
                            <div class="col-4 pl-0">
                                {{ form.view|as_crispy_field }}
                            </div>
                            <div class="col-2 pl-0">
                                <button class="btn btn-outline-info" type="submit">List</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <a href="{% url 'projectphase-detail-all' view.kwargs.projectphase_pk %}"
                        class="btn btn-outline-info">List
                        all
                    </a>
                </div>
                {% endifnotequal %}

                {% endifnotequal %}

                {% ifequal user.groups.all.0|stringformat:"s" 'Worker' %}
                <a href="{% url 'worker-projectphase-table' view.kwargs.projectphase_pk user.id %}"
                    class="btn btn-outline-info">List my work</a>
                {% endifequal %}


            </div>
            <div class="card-footer">
                <div class="btn-group" role="group">
                    {% if object.ongoing %}
                    {% if perms.projects.add_task %}
                    <a href="{% url 'task-create' object.id %}" class="btn btn-outline-info">New Task</a>
                    {% endif %}

                    {% if perms.projects.change_project %}
                    <a href="{% url 'projectphase-update' object.id %}" class="btn btn-outline-info">Update Phase</a>
                    {% endif %}
                    {% endif %}


                    {% ifequal user.groups.all.0|stringformat:"s" 'Worker' %}
                    <a href="{% url 'projectphase-worker-summary' view.kwargs.projectphase_pk user.id %}"
                        class="btn btn-outline-info">Summary of my work</a>
                    {% endifequal %}


                    {% ifnotequal user.groups.all.0|stringformat:"s" 'Worker' %}

                    {% endifnotequal %}
                </div>


            </div>
        </div>
    </div>



    <div class="col-8">
        {% block display_content %}{% endblock %}
    </div>


</div>



{% endblock content2 %}