{% extends "projects/base.html" %}
{% block content2 %}


{% if object.projectphase_set.exists %}
{% for phase in object.projectphase_set.all %}


{% ifequal user.groups.all.0|stringformat:"s" 'Worker' %}
<p>
    <a href="{% url 'worker-projectphase-detail' phase.id %}">{{ phase.title }}</a>
</p>
{% else %}
<p>
    <a href="{% url 'projectphase-detail' phase.id %}">{{ phase.title }}</a>
</p>
{% endifequal %}
{% endfor %}
{% endif %}


{% if perms.projects.change_project %}
<p>
    <a href="{% url 'project-update' view.kwargs.project_pk %}">Update Project</a>
</p>
{% endif %}




{% if perms.projects.add_project %}
<p>
    <a href="{% url 'projectphase-create' view.kwargs.project_pk %}">Create New Phase</a>
</p>
{% endif %}

{% endblock content2 %}