{% extends "projects/base.html" %}
{% block content %}
<p>Title: {{ object.title }} </p>

<!-- <p>Project: {{ object.project }}</p> -->

{% if perms.projects.change_task %}
<p><a href="{% url 'task-update' object.id %}">Update Current Task</a></p>
{% endif %}

{% if datepoint_list %}
Datepoint list:
{% endif %}
{% for datepoint in datepoint_list %}
<ul>
    <li>Worker: {{datepoint.worker}}, Worked_date: {{ datepoint.worked_date }}, Worked_time:
        {{ datepoint.worked_time }}, Description: {{ datepoint.description }}

        {% if user.is_authenticated %}
        {% if perms.projects.change_datepoint %}
        {% if datepoint.approved is False %}
        <a href="{% url 'datepoint-approve' datepoint_pk=datepoint.id %}" class="btn btn-success">Approve</a>
        {% else %}
        <a href="{% url 'datepoint-approve' datepoint_pk=datepoint.id %}" class="btn btn-danger">Disapprove</a>
        {% endif %}
        {% endif %}
        {% endif %}

    </li>
</ul>
{% endfor %}


{% endblock content %}