{% extends "projects/base.html" %}
{% block content %}
<p>Title: {{ object.title }} </p>

<!-- <p>Project: {{ object.project }}</p> -->

{% if perms.projects.change_task %}
<p><a href="{% url 'task-update' object.id %}">Update Current Task</a></p>
{% endif %}

{% if datepoint_list %}
Datepoint list:
{% endif %}
{% for datepoint in datepoint_list %}
<ul>
    <li>Worker: {{datepoint.worker}}, Worked_time: {{ datepoint.worked_time }}, Description: {{ datepoint.description }}
    </li>
</ul>
{% endfor %}


{% endblock content %}